<div class="page">
    <div class="content-box">
        <h2 id="title-page">Mon compte</h2>
        <p class="p-title">Mettre à jour le mot de passe</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()"class="col-9">
        <div class="form-group">
            <div class="d-flex align-items-center mb-3 row justify-content-center">
                <label for="oldPassword" class="col-3">Ancien mot de passe</label>
                <input type="password" formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" placeholder="Ancien mot de passe"/>
                <ng-container *ngIf="submitted && f.newPassword.errors">
                    <ng-container *ngIf="f.newPassword.errors.required"><span class="invalid-feedback">L'ancien mot de passe est requis</span></ng-container>
                </ng-container>
            </div>
        </div>
        <div class="form-group">
            <div class="d-flex align-items-center mb-3 row justify-content-center">
                <label for="newPassword" class="col-3">Nouveau mot de passe</label>
                <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" placeholder="Nouveau mot de passe" />
                <ng-container *ngIf="submitted && f.newPassword.errors">
                    <ng-container *ngIf="f.newPassword.errors.required"><span class="invalid-feedback">Le mot de passe est requis.</span></ng-container>
                </ng-container>
            </div>
        </div>
        <div class="form-group">
            <div class="d-flex align-items-center mb-3 row justify-content-center">
                <label for="confirmPassword" class="col-3">Confirmation du nouveau mot du passe</label>
                <input placeholder="Confirmation" type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                <ng-container *ngIf="submitted && f.confirmPassword.errors">
                    <ng-container *ngIf="f.confirmPassword.errors.required"><span id="confirm-psw" class="invalid-feedback">Le mot de passe est requis.</span></ng-container>

                </ng-container>
            </div>
        </div>
        
        <div class="form-group">
            <div class="form-group col-9 d-flex  justify-content-end mt-4 ms-5">
                <button [disabled]="loading" class="submit">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Valider
                </button>
            </div>
            <div>
                <p id="message">{{this.message}}</p>
            </div>
        </div>
    </form>
</div>